#home{
    background-color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif
}
#home img{
   margin: auto;
   display: flex;
   border-radius: 50px;
   width: 50%;
}
#home h1{
    color: rgb(90, 88, 88);
    text-align: center;
    font-size: 70px;
}
#home p{
    font-size: 50px;
    color: rgb(46, 46, 46);
    text-align: center;
}

.button a:link, a:visited {
    border-radius: 25px;
    width: 50%;
    background-color: #4b0aff;
    color: rgb(255, 255, 255);
    padding: 30px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    margin: auto;
}
 .button a:hover, a:active {
    background-color: rgb(255, 0, 0);
}

